@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,500&display=swap');

@font-face {
   font-family: "DancingScript";
   src: url("../fonts/DancingScript-Regular.woff2") format("woff2"), url("../fonts/DancingScript-Regular.woff") format("woff");
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "DancingScript";
   src: url("../fonts/DancingScript-Bold.woff2") format("woff2"), url("../fonts/DancingScript-Bold.woff") format("woff");
   font-display: swap;
   font-weight: 800;
   font-style: normal;
   
}
@font-face {
   font-family: "Bitter";
   src: url("../fonts/Bitter-MediumItalic.woff2") format("woff2"), url("../fonts/Bitter-MediumItalic.woff") format("woff");
   font-display: swap;
   font-weight: 500;
   font-style: italic;
}
@font-face {
   font-family: "Bitter";
   src: url("../fonts/Bitter-LightItalic.woff2") format("woff2"), url("../fonts/Bitter-LightItalic.woff") format("woff");
   font-display: swap;
   font-weight: 300;
   font-style: italic;
}
body {
   font-family: "Montserrat";
   font-size: 20px;
   line-height: 1.2;
   text-align: center;
}
img {
   max-width: 100%;
}
.intro {
   text-decoration: overline;
}
.italic {
   font-family: "Bitter";
   font-weight: 500;
   /* font-style: italic; */
}
.intro > p{
   color: rgba(196, 99, 99, 0.568);
   text-align: left;
   text-decoration: none;                     /* по ідеї повинен відмінити оверлайн? */
}

.line-through {
   text-decoration: line-through;
}
.red {
   color: red;
}
.title {
   font-weight: 800;
   font-size: 40px;
}
.content {
   background: rgba(141, 163, 62, 0.753);
}
.list-content {
   text-align: left;
   line-height: 1.5em;
   word-spacing: 10px;
}
.list-content h3 {
   font-size: 28px;
   text-indent: 20px;
   letter-spacing: 0.2em;
   text-shadow: 2px 2px 3px rgb(0, 216, 65);

}
.element {
   margin-top: 50px;
   padding: 20px;
   background: rgb(151, 150, 241);
   text-shadow: -1px -1px 2px rgb(236, 124, 58);
}

a{
   text-transform: capitalize;
   color: aquamarine;
   font-weight: 800;
   font-size: 24px;
   line-height: 2;
}
header,footer {
   font-family: "DancingScript" ;
   text-align: right;
   font-size: 18px;
   font-style: italic;
   text-decoration: underline;
   color: grey;
}